.dialogs {
    display: grid;
    grid-template-columns: 4fr 10fr;
    color: rgb(64, 248, 79)
}

.dialog {
    padding: 10px;
    padding-top: 20px;
}

.dialogsElem {
    color: white;
}

.messagesElem {
    color: white;
}